.button {
  background-color: var(--title-text);
  color: white;
  border-radius: 5px;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  height: auto;
  padding: 12px 24px;
  outline: none;
}

.button:hover {
  background-color: #5f4c8b;
  transform: scale(1.05);
}
